<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="HalloweenConnectionString" connectionString="Data Source=Localhost\sqlexpress;Initial Catalog=Halloween;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.5"/>

	</system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
